# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
*.so

# Virtual environment
.env/
venv/
.venv/

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Large model weights
src/models/*.pth

# Data
data/*
!data/.gitkeep
